built/
tests/projects/*/*.js
tests/projects/*/*/*.js
tests/projects/*/*/*/*.js
diff-*.html
test-args.txt
*.suo
~*.docx
tests/baselines/local/*
tests/services/baselines/local/*
tests/services/browser/typescriptServices.js
src/compiler/*.js
baseline-report.html
*.swp
build.json
monaco.editor.json

# JetBrains
/.idea/tasks.xml
/.idea/workspace.xml
