built/
tests/cases/*.js
tests/cases/*/*.js
tests/cases/*/*/*.js
tests/cases/*/*/*/*.js
tests/cases/*/*/*/*/*.js
tests/cases/*.js.map
tests/cases/*/*.js.map
tests/cases/*/*/*.js.map
tests/cases/*/*/*/*.js.map
tests/cases/*/*/*/*/*.js.map
!tests/cases/projects/r.js
tests/cases/projects/*/local/*
!tests/cases/projects/*/reference/*/*.js
diff-*.html
test-args.txt
*.suo
~*.docx
tests/baselines/local/*
tests/services/baselines/local/*
tests/services/browser/typescriptServices.js
src/compiler/*.js
src/services/*.js
src/services/*/*.js
src/harness/*.js
baseline-report.html
*.swp
build.json
monaco.editor.json
