built/
tests/cases/projects/*/*.js
tests/cases/projects/*/*/*.js
tests/cases/projects/*/*/*/*.js
diff-*.html
test-args.txt
*.suo
~*.docx
tests/baselines/local/*
tests/services/baselines/local/*
tests/services/browser/typescriptServices.js
tests/cases/*.js
src/compiler/*.js
baseline-report.html
*.swp
build.json
monaco.editor.json
